<link rel="stylesheet" href="public/css/main.css">

<header class="row">
    <div class="logo col-sm-2 cursor-pointer" ng-click="$ctrl.gohome()" title="Go home">
        <p><i class="glyphicon glyphicon-home"></i> MailBox</p>
    </div><!-- logo -->

    <div class="search-bar col-sm-4">
        <!--div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-main">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
        </div--><!-- /input-group -->

        <!--span class="arrow caret"></span-->
    </div><!-- search-bar -->

    <div class="profile col-sm-6">
        <ul class="profile-icons list-inline pull-right">
            <li>
                <button type="button" class="btn btn-link" ng-click="$ctrl.editProfile()" title="Edit profile">{{$ctrl.user.fullName}}
                </button>
            </li>
            <!--li>
                <span class="glyphicon glyphicon-th"></span>
            </li>
            <li class="bell">
                <span class="glyphicon glyphicon-bell"></span>
            </li-->
            <li>
                <img ng-src="{{$ctrl.user.avatarUrl}}" class="img-circle cursor-pointer" ng-click="$ctrl.editProfile()" title="Edit profile"/>
            </li>
            <li>
                <button type="button" class="btn btn-link" ng-click="$ctrl.logout()">Logout</button>
            </li>
        </ul>
    </div><!-- profile -->
</header>

<ui-view></ui-view>
